* {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box
}

.logo {
}

header {
    background-color: rgb(26, 26, 26);
    padding: 50px
}

footer {
    background-color: rgb(0, 119, 255);
    padding: 100px;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer span {
    opacity: .7;
    margin: 0 10px
}

.section1 {
    background-color: rgb(43, 43, 43);
    padding: 100px
}

.searchsection {
    background-color: rgb(0, 255, 136);
    padding: 10px
}

.column2 {
    float: right;
    width: 20%;
    padding: 10px
}

.row2 {
}

.row2:after {
    content: "";
    display: table;
    clear: both
}

.column {
    float: left;
    width: 20%;
    padding: 10px
}

.row {
}

.row:after {
    content: "";
    display: table;
    clear: both
}

@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px
    }

    .logo > img:nth-child(2), .logo > img:nth-child(3), .logo > img:nth-child(4) {
        display: none
    }
}

.card {
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    font-size: 100%;
    padding: 10px;
    width: 100%;
    transition: 0.4s;
    min-height: 180px;
    cursor: pointer
}

.card:hover {
    background-color: rgb(0, 119, 255);
    transition: 0.4s
}

.container {
    padding: 8px;
    text-align: center
}

.clearfix {
    overflow: auto
}

.clearfix::after {
    content: "";
    clear: both;
    display: table
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    position: relative;
    background-color: #2b2b2b;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
    overflow: hidden
}

#modalShare {
    padding-top: 200px;
}

#modalShare .modal-content {
    max-width: 300px;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -2px
}

.close:focus, .close:hover {
    color: #bdbdbd;
    text-decoration: none;
    cursor: pointer
}

.modal-header {
    padding: 6px 16px;
    background-color: #1a1a1a;
    color: white
}

.modal-body {
    padding: 2px 16px
}

.modal-body img {
    max-height: 300px;
    display: inline-block;
    vertical-align: top
}

.modal-half {
    display: inline-block;
    height: 300px;
    width: calc(100% - 305px);
    vertical-align: bottom;
    padding: 15px 10px;
}

.modal-half .description {
    min-height: calc(100% - 180px);
}

.modal-half .info {
    height: 180px;
}

.modal-half .info p {
    line-height: 30px
}

.modal-half .info p span {
    float: right
}

.modal-body-descript {
    float: right;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 5px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #1a1a1a;
    color: white;
    height: 48px
}

.btn-download, .btn-share {
    outline: 0;
    padding: 8px 18px;
    border-radius: 4px;
    margin: 5px;
    font-weight: bold;
    font-size: 16px;
    float: right;
    cursor: pointer;
    transition: 0.4s
}

.btn-download {
    background: #00beff;
    color: #1a1a1a;
    border: 0px;
}

.btn-share {
    background: transparent;
    border: 1px dashed #ff0062;
    color: #ff0062
}
.btn-download:hover {
    background: #00ff95
}

.btn-share:hover {
    background: #ff0062;
    border: 1px solid #ff0062;
    color: #1a1a1a;
}


.button {
    width: 80%;
    padding: 8px 0px;
    margin: 10px 10%;
    background: #2b2b2b;
    outline: none;
    border: 2px solid #ccc;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
    color: #fff
}

.twitter {
    border: 2px solid #1da1f2;
    background: rgba(29, 161, 242, 0.5);
}

.fb {
    border: 2px solid #3b5998;
    background: rgba(59, 89, 152, 0.5);
}

.pin {
    border: 2px solid #bd081c;
    background: rgba(189, 8, 28, 0.5);
}

.twitter:hover {
    background: #1da1f23b;
}

